.App {
	color: FAFAFA;
}
.Card {
	margin-top: 10px;
	padding: 10px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
}
.Download-btn {
	position: absolute;
	right: 3.3vw;
}
.container-btn {
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.Card-field p {
	letter-spacing: 1px;
}

.Card-field button{
	background-color: white;
    color: black;
    border: 2px solid #555555;
	border-radius: 5px;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.Card-field button:hover {
	background-color: #555555;
	color: white;
  }

.Search-bar{
	display: flex !important;

	
	
}
.SearchImage{
	display: flex;

}
.SearchImage img{
	width:250px;
	margin-left: 4vw;
}
.search-ui{
	margin-left: 92px;
	width: 500px;
	
}
